.ui-page-theme-a{
	text-shadow:none;
	color:white;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
}

*{
	margin:0px;
	padding:0px;
	text-shadow:none;
}
.wrapper{
	margin: auto;
	background: url('../images/bg.png') no-repeat;
	background-size: cover;
	height: auto;
	width:100%;
}
.wrapper2{
	margin: auto;
	background-color: #e6e6e6;
	height: auto;
	width:100%;	
}
header{
	background-color: #355154;
}
/*IMG*/
img{
	padding-bottom:50px;
	display: block;
	margin: 0 auto;
}
/*logo*/
h1.image{
	padding-bottom: 85px;
	margin: auto;
	margin-left: 0px;
}

h2{
	font-size: 18px;
	color: white;
	font-family: 'Comfortaa', cursive;
	font-weight: 700;
	padding: 15px;
	text-align: center;
}
h3{
	font-family: 'Montserrat', sans-serif;
	color: white;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 16px;
}

/*ARTICLE SECTION*/
article{
	width:100%;
	padding-bottom: 60px;
}
article ul li{
	list-style-type: none;
	margin:0 auto;
	width: 80%;
}

/*BUTTONS*/
.ui-page-theme-a .ui-btn{
	width:100%;
	height:50px;
	border: none;
	text-shadow: none;
	box-shadow: none;
	background-color: rgba(80, 172,162,.9);
	color:rgba(255,255,255,1);
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.ui-page-theme-a .ui-btn:hover{
	background-color: rgba(80, 172,162,1);
	text-shadow:none;
	color:rgba(255,255,255,.5);
}
#lightblue{
	background-color: rgba(123, 201, 182,.9);
}
#lightblue:hover{
	background-color: rgba(123, 201, 182,1);
	text-shadow:none;
}

/*FORM*/

form{
	margin-top:15px;
}
form ul li input{
	padding: 10px;
	margin-top: 10px;
}

/*INPUT*/
.ui-input-text{
	border-radius: 0;
	border:solid white 2px;
}
.ui-input-text input, .ui-input-search input{
	color:white;
}
.ui-body-a, .ui-page-theme-a .ui-body-inherit{
	background-color:transparent;
	text-shadow:none;
	margin-bottom: 30px;
}
.ui-page-theme-a .ui-btn:focus{
	-webkit-box-shadow:none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

/*PAGE INDICATORS*/
.pgindicator{
	width:140px;
	margin:50px auto 0;
}
.circle{
	width:20px;
	height:20px;
	border-radius:100px;
	border: white solid 2px;
	display: inline-block;
	margin-right: 30px;
}
.circle:last-of-type{
	margin-right: 0;
}
.activeSlide{
	background-color: rgba(255,255,255,.8);
}
ul li{
	list-style-type: none;
}
a{
	color:rgba(255,255,255,1);
	text-decoration: none;
}
#link{
	padding-top: 20px;
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	float: right;
	padding-bottom: 30px;
}
#link:hover{
	text-decoration: underline;
}
/*#links img{
padding-bottom: 10px;
padding-right: 10px;
<<<<<<< HEAD
margin-right: 0px;
}*/
=======
margin:auto;
}
>>>>>>> FETCH_HEAD
h3.black {
color: #4D4D4D}



/* james code */

header h1{
float: left;
margin: 5px;
padding:10px 0;
}

header .profile{
float: right;
margin: 5px;
width: 40px;
height: 40px;
text-indent: -9999px;
background: url(../images/nav.png) no-repeat;
background-size: 100%;

}

header .pMenu{
clear: both;
position: absolute;
right:-155px; /* Open 5px Closed -155px */
top:-16px;
width: 150px;
height: 250px;
margin-top: 65px;
background-color: white;
z-index: 20;
}	

header .pMenu ul{
width: 90%;
height: 90%;
margin: 0 auto;
}

header .pMenu ul li{
width:100%;
height:auto;
display: block;
margin: 10px 0;
margin-top: 20px;
border-bottom: 1px solid white;
}

header .pMenu ul li a{
width: 100%;
padding: 10px 0;
display: block;
text-align: center;

}

header .pMenu ul li a:hover{
background-color: #e6e6e6;
}



